.card {
  max-width: 300px;
  height: 250px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 50px;
  position: relative;
}
.card:hover {
  box-shadow: 5px 10px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}
.categoryImage {
  border-radius: 8px;
  max-width: 100%;
  height: 100%;
  align-items: center;
  box-shadow: 5px 10px 10px rgb(0 0 0 / 0.2);
}
.categoryName {
  position: absolute;
  color: #02122f;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  margin: 0;
  top: 20px;
  left: 20px;
}
