.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(195, 122, 221);
  padding: 1.5rem;
}

.navpill {
  padding: 1.5rem;
  font-size: xx-large;
}
.navpill:hover {
  color: darkmagenta;
}
.nav-brand {
  font-size: x-large;
  font-weight: 800;
  text-decoration: none;
}
.nav-brand:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  font-size: medium;
  background-color: white;
  color: rgb(195, 122, 221);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}
.navpill:hover .tooltip {
  visibility: visible;
}
