.page{
  background-color: #e2e1e1;
}
.productsContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.productsListPage{
  display: flex;
  justify-content: center;
}
.filtersHeading{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.clearbtn{
  padding: 5px;
  border:none;
  background-color: transparent;
  font-size: medium;
}