.page{
  background-color: #e2e1e1;
}
.productsContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.productsListPage{
  display: flex;
  justify-content: center;
}
