.footer {
  background: linear-gradient(#c37add, #8b008b);
  padding: 10px;
  margin: auto;
}
.footerSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.socialMediaIcons {
  color: black;
  font-size: x-large;
  flex-direction: column;
  padding: 10px;
}
.policies {
  padding-top: 45px;
}
