*{
  color: white;
}
.footer {
  background: linear-gradient(#02122f, #0f44a3);
  padding: 20px;
  margin: auto;
}
.footerSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.socialMediaIcons {
  color: white;
  font-size: x-large;
  flex-direction: column;
  padding: 10px;
}
.policies {
  padding-top: 30px;
}
h4 {
  padding-bottom: 10px;
}
p {
  padding: 3px;
}
